<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="Z_HH_FlightBooking_MT_01">
                    <!--    WsdlImporter ermittelte unerkannte Richtlinienassertionen in ServiceDescription "urn:sap-com:document:sap:soap:functions:mc-style":    -->
                    <!--    <wsdl:binding name='Z_HH_FlightBooking_MT_01'>    -->
                    <!--        <saptrnbnd:OptimizedXMLTransfer xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/">..</saptrnbnd:OptimizedXMLTransfer>    -->
                    <!--        <saptrnbnd:OptimizedXMLTransfer xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/">..</saptrnbnd:OptimizedXMLTransfer>    -->
                    <mtomMessageEncoding messageVersion="Soap11" maxBufferSize="50000000"/>
                    <httpTransport authenticationScheme="Basic" maxReceivedMessageSize="50000000"/>
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://i48lp1.informatik.tu-muenchen.de:8048/sap/bc/srt/rfc/sap/z_hh_flightbooking_mt_01/902/z_hh_flightbooking_mt_01/z_hh_flightbooking_mt_01"
                binding="customBinding" bindingConfiguration="Z_HH_FlightBooking_MT_01"
                contract="FlightBookingReference.Z_HH_FlightBooking_MT_01"
                name="Z_HH_FlightBooking_MT_01" />
        </client>
    </system.serviceModel>
  <appSettings>
    <add key="ERP-System" value="SAP"/>
  </appSettings>
</configuration>